<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="create-room py-5 px-m-5 pt-1">
                <h2 class='text-center mb-3'><small>Enter Room Details</small></h2>
                <div class="profile-pic mb-2">
                    <img [src]="roomPic_src" alt="">
    
                    <input 
                       type="file" 
                       name="roompic" 
                       id="roompic" 
                       accept="image/png" 
                       #imageFile
                       (change)="fileSelectAndUpload($event)"
                     >
                       
                    <div class='blur-bg'>
                     <div class="btn" id='profilepicuploader' (click)="imageFile.click()">+</div>
                    </div>
                </div>
                <form action="" #createRoom='ngForm' class="form">
                    <div class="form-group room-name">
                        <label for="roomName" class='form-label'>Enter Room Name:</label><span class='error' *ngIf='name.invalid && name.touched'>*please enter the room name</span>
                        <input type="text" name='roomName' class='form-control' required [(ngModel)]="roomName" #name="ngModel" ngModel>
                    </div>
                    <div class="form-group room-cat">
                        <label for="roomName" class='form-label'>Enter Room Category:</label><span class='error' *ngIf='cat.invalid && cat.touched'>*please enter the room Category</span>
                        <input type="text" name='roomCat' class='form-control' required [(ngModel)]="roomCat" #cat="ngModel" ngModel>
                    </div>
                    <div class="form-group">
                        <label for="description" class='form-label'>Enter Room Description:</label><span class='error' *ngIf='des.invalid && des.touched'>*please enter a short Description</span>
                        <textarea name="description"  cols="30" rows="4" class='form-control' placeholder="" required #des='ngModel' [(ngModel)]="roomDescription"  ngModel></textarea>
                    </div>
                    <div *ngIf="privacy == 'private'" class="form-group">
                        <label for="roomPass" class='form-label'>Enter Room Password:</label><span class='error' *ngIf='pass.invalid && pass.touched'>*please enter the room Password</span>
                        <input type="password" name='roomPass' class='form-control' required minlength='8' [(ngModel)]="roomPass" #pass="ngModel" ngModel>
                    </div>

                    <div class="form-group" >
                        <label for="privacy" class='form-label'>Privacy:</label>
                        <select name="privacy" (change)="changePrivacy($event)" class='form-control'>
                            <option value="public" selected>Select room type (default public)</option>
                            <option value="public">Public</option>
                            <option value="private">Private</option>
                        </select>
                    </div>

                    <div class="save-btn text-center">
                       <button class="btn btn-success px-3 py-2" [disabled]='createRoom.invalid' (click)='create_room()'> Create Room</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
