<div class="container">
    <div class="row">
        <div class="col-12">

            <div class="profile-container"> 
                <!-- profile pic -->
               <div class="profile-pic">
                   <img [src]="proPic_src" alt="profile pic of the person">
               </div>
               <!--profile pic end-->
               <!-- details -->
                
                <div class="details">
                    <div class="name">{{ person_name }}</div>
                    <div class="about">{{ person_about }}</div>
                    <div class="gender">{{ person_gender }}</div>
                </div>
                <!--end details -->
 
            </div>   
        </div>
    </div>
</div>
