*{
    box-sizing: border-box;
    overflow-x:hidden;
}
.normal-pages-main-screen{
    width:100%;
    height:82vh;
    background:white;
}

.footer{
    background:whitesmoke;
    min-height:7vh
}
@media screen and (max-width:600px){
   
    .normal-pages-main-screen{
        height:unset;
        min-height:90vh;
    }
    .footer{
        background:whitesmoke;
        display:block;
        width:100%;
    }

}
