*{
    box-sizing: border-box;
}
 .container-fluid {
     background:url('../../assets/5267.jpg');
     background-size:contain;
     background-repeat: no-repeat;
     background-position: right;
     animation: bganimate 1s ease;
     
 }
 @keyframes bganimate{
     0%{ 
         background-position-x:center;
     }
     100%{
         background-position:right;
     }
 }
 .row{
     height:82vh;
     opacity:1;
 }
.form-container{
    background:rgba(255,255,255,0.95);
    width:40%;
    margin: 20px;
    padding:5px 20px;
   
}
.error {
    color:red;
    
}
input.ng-valid{
    border-left:2px solid green;    
  }
  
  input.ng-invalid{
      border-left:2px solid red;
  }


.form-control{
    letter-spacing: 1px;
    font-size:15px;
    padding:7px 10px;
    border-radius: 5px;
    background: whitesmoke;
}
.form-label{
    letter-spacing: 2px ;
    font-size:18px;
    
    
}
h2{
    font-weight: bolder;
    letter-spacing: 2px;text-shadow:2px 2px 4px rgba(0,0,0,0.3);
}

.send-btn {
    letter-spacing: 1px;
}
@media screen and (max-width:1200px){
     .container-fluid{
         background-attachment: fixed;
         background-size: cover;
         background-position: center;
     }
     .row{
        min-height:92vh;
     }
     
    .form-container{
         width:60%;
         letter-spacing: 3px ;
         font-size:20px;
         margin:20px auto;
     }
     .error{
         font-size:16px;    
    }
}
@media screen and (max-width:800px){
    .form-container{
        width:80%;
        background:rgba(255,255,255,0.9);
        height:100%;
    }
}
@media screen and (max-width:600px){
    
    .form-container{
        width:100%;
        
    }
    .container-fluid{
        height:100%;
        padding:0px;
    }
    .row{
        min-height:92vh;
        overflow-y:hidden;
        height:unset;
    }
    h2{
        margin-top:70px;
        
    }
}