<body class=''>
<div class="outerlayer bg-dark">
    <h2 class='logo'>Chating App</h2>
<div class="chatbox-holder">
    <div class="chatbox">
      <div class="chatbox-top">
        <div class="chatbox-avatar" [style]='{display:group?"":""}'>
          <a target="_blank" [href]="roomPic"><img [src]="roomPic" /></a> 
        </div>
        <div class="chat-partner-name" [style]='{display:group?"":""}'>
          <a  href="#" (click)="showGroupMenu()"> {{chat_name}}</a> &nbsp;
          <span class="status online"></span> {{ roomMembers }}
        </div> 
        <div class="chatbox-icons">
          <!--<a href="javascript:void(0);"><i class="fa fa-minus"></i></a>-->
          <a (click)="performExit()"><i class="fa fa-close">&nbsp; Exit</i></a>
        </div>      
      </div>
      
      <div class="chat-messages">
        <div class="menu">
          <div class="details" style='display:none'>
             <h5><small>Group Name: </small></h5>
             <h5><small>Group </small></h5>
          </div>
        </div>
        <h5 class='text-center mb-2' style='width:100vw;'><small>Room Code : {{ roomCode }}</small></h5>
        <h5 class='text-center mb-2' style='width:100vw;'><small>start messaging...</small></h5>

        <div class="message-box-holder" *ngFor="let message of messageList">
         
           
               <div *ngIf="message.from_id != getPublicId()"  class="message-sender">
                  <span (click)='viewProfile(message.from_id)'>{{message.details.name}}</span>
                  <span><i>.Remove</i></span>
               </div>
               <div *ngIf="message.from_id != getPublicId()" class="message-box message-partner ld ld-throw-btt-in" style='animation-duration: 0.5s;'>

                 <i *ngIf="message.details.react.like == 1" class='fa fa-thumbs-up' style="animation-duration: 1s;"></i>

                 <div class="img" *ngIf="message.details.meme.is == 1">
                  <img  src="" [alt]="message.details.meme.memeData.title">
                  <span style='cursor:pointer' (click)='downloadFile($event,"image", message.details.meme.memeData.url)'> &nbsp; <i class='fa fa-download'></i></span>
                </div>
                
                 {{message.details.message}}
                 
               </div> 

              <div *ngIf="message.from_id == getPublicId()" class="message-box bg-dark text-white">

                <i *ngIf="message.details.react.like == 1" class='fa fa-thumbs-up' style='animation-duration: 1s;'></i>
                <!--<div class="img">
                  <img *ngIf="message.details.meme.is == 1" [src]="message.details.meme.memeData.url" [alt]="message.details.meme.memeData.title">
                </div>-->

                <div class="img" *ngIf="message.details.meme.is == 1">
                  <img  src="" [alt]="message.details.meme.memeData.title">
                  <span style='cursor:pointer' (click)='downloadFile($event,"image", message.details.meme.memeData.url)'> &nbsp; <i class='fa fa-download'></i></span>
                </div>

                {{message.details.message}}

              </div>
             <span *ngIf='scrollToBottom()'></span><!-- hack to scroll the message area to bottom whenever new message is created or received -->
         
        </div>

        
        
      </div>
      
      <div class="chat-input-holder">
        <textarea class="chat-input" [(ngModel)]="createMessage" (keypress)="checkIfEnter($event)" placeholder="enter message here... "></textarea>
        <input type="submit" value="Send" class="message-send" (click)="sendMessage()"/>
      </div>
      <div class="attachment-panel">
        <a href="#" class="fa fa-thumbs-up ld ld-zoom-in" (click)='sendLike($event)'></a>
        <!--<a href="#" class="fa fa-camera"></a>
        <a href="#" class="fa fa-video-camera"></a>-->
        <a href="#" class="ld ld-zoom-in" (click)="sendMeme($event)"><span *ngIf='loadingMeme == 0'>MEME</span> <img src="../../assets/icons/Infinity-1.9s-221px.png" style='width:25px; height:25px;' alt="loading...." *ngIf='loadingMeme'> </a>
        <!--<a href="#" class="fa fa-paperclip"></a>
        <a href="#" class="fa fa-link"></a>
        <a href="#" class="fa fa-trash-o"></a>
        <a href="#" class="fa fa-search"></a>-->
      </div>
    </div>
    
    <!--<div class="chatbox group-chat">
      <div class="chatbox-top">
        <div class="chatbox-avatar">
          <a target="_blank" href="https://www.facebook.com/mfreak"><img src="https://avatars0.githubusercontent.com/u/7145968?v=3&s=460" /></a>
        </div>
        
        <div class="chat-group-name">
          <span class="status away"></span>
          Group name comes here
        </div>
        <div class="chatbox-icons">
          <label for="chkSettings"><i class="fa fa-gear"></i></label><input type="checkbox" id="chkSettings" />
          <div class="settings-popup">
            <ul>
              <li><a href="#">Group members</a></li>
              <li><a href="#">Add members</a></li>
              <li><a href="#">Delete members</a></li>
              <li><a href="#">Leave group</a></li>
            </ul>
          </div>
          <a href="javascript:void(0);"><i class="fa fa-minus"></i></a>
          <a href="javascript:void(0);"><i class="fa fa-close"></i></a>       
        </div>      
      </div>
      
      <div class="chat-messages">
         <div class="message-box-holder">
          <div class="message-box">
            What are you people doing?
          </div>
        </div>
        
        <div class="message-box-holder">
          <div class="message-sender">
            <a href="#">Ben Stiller</a>
           </div>
          <div class="message-box message-partner">
            Hey, nobody's here today. I'm at office alone.
            Hey, nobody's here today. I'm at office alone.
          </div>
        </div>
        
        <div class="message-box-holder">
          <div class="message-box">
            who else is online?
          </div>
        </div>
        
        <div class="message-box-holder">
          <div class="message-sender">
            <a href="#">Chris Jerrico</a>
           </div>
          <div class="message-box message-partner">
            I'm also online. How are you people?
          </div>
        </div>
        
        <div class="message-box-holder">
          <div class="message-box">
            I am fine.
          </div>
        </div>
        
        <div class="message-box-holder">
          <div class="message-sender">
            <a href="#">Rockey</a>
           </div>
          <div class="message-box message-partner">
            I'm also online. How are you people?
          </div>
        </div>
        
        <div class="message-box-holder">
          <div class="message-sender">
            <a href="#">Christina Farzana</a>
           </div>
          <div class="message-box message-partner">
            We are doing fine. I am in.
          </div>
        </div>      
      </div>
      
      <div class="chat-input-holder">
        <textarea class="chat-input"></textarea>
        <input type="submit" value="Send" class="message-send" />
      </div>
      
      <div class="attachment-panel">
        <a href="#" class="fa fa-thumbs-up"></a>
        <a href="#" class="fa fa-camera"></a>
        <a href="#" class="fa fa-video-camera"></a>
        <a href="#" class="fa fa-image"></a>
        <a href="#" class="fa fa-paperclip"></a>
        <a href="#" class="fa fa-link"></a>
        <a href="#" class="fa fa-trash-o"></a>
        <a href="#" class="fa fa-search"></a>
      </div>
    </div>-->
    
   <!-- <div class="chatbox chatbox-min">
      <div class="chatbox-top">
        <div class="chatbox-avatar">
          <a target="_blank" href="https://www.facebook.com/mfreak"><img src="https://lh3.googleusercontent.com/-iJhKZHM5Kqs/Vgg2r91epsI/AAAAAAAAAgo/uGT4-sqPJzg/w800-h800/IMG_1339.jpg" /></a>
        </div>
        <div class="chat-partner-name">
          <span class="status donot-disturb"></span>
          <a target="_blank" href="https://www.facebook.com/mfreak">Mamun Khandaker</a>
        </div>
        <div class="chatbox-icons">
          <a href="javascript:void(0);"><i class="fa fa-minus"></i></a>
          <a href="javascript:void(0);"><i class="fa fa-close"></i></a>       
        </div>      
      </div>
      
      <div class="chat-messages">
         <div class="message-box-holder">
          <div class="message-box">
            Hello
          </div>
        </div>
        
        <div class="message-box-holder">
          <div class="message-sender">
             Mamun Khandaker
           </div>
          <div class="message-box message-partner">
            Hi.
          </div>
        </div>
        
        <div class="message-box-holder">
          <div class="message-box">
            How are you doing?
          </div>
        </div>
        
        <div class="message-box-holder">
          <div class="message-sender">
             Mamun Khandaker
           </div>
          <div class="message-box message-partner">
            I'm doing fine. How about you?
          </div>
        </div>
        
        <div class="message-box-holder">
          <div class="message-box">
            I am fine.
          </div>
        </div>
        
        <div class="message-box-holder">
          <div class="message-box">
            Do you know why I knocked you today?
          </div>
        </div>
        
        <div class="message-box-holder">
          <div class="message-box">
            There's something important I would like to share with you. Do you have some time?
          </div>
        </div>
        
        <div class="message-box-holder">
          <div class="message-sender">
             Mamun Khandaker
           </div>
          <div class="message-box message-partner">
            Yeah sure. Let's meet in the Einstein cafe this evening and discuss the matter.
          </div>
        </div>
        
        <div class="message-box-holder">
          <div class="message-sender">
             Mamun Khandaker
           </div>
          <div class="message-box message-partner">
            I thought of coming to your place and discuss about it but I had to finish my projects and I didn't have enough time to go out of the house.
          </div>
        </div>      
      </div>
      
      <div class="chat-input-holder">
        <textarea class="chat-input"></textarea>
        <input type="submit" value="Send" class="message-send" />
      </div>
      
      <div class="attachment-panel">
        <a href="#" class="fa fa-thumbs-up"></a>
        <a href="#" class="fa fa-camera"></a>
        <a href="#" class="fa fa-video-camera"></a>
        <a href="#" class="fa fa-image"></a>
        <a href="#" class="fa fa-paperclip"></a>
        <a href="#" class="fa fa-link"></a>
        <a href="#" class="fa fa-trash-o"></a>
        <a href="#" class="fa fa-search"></a>
      </div>
    </div>
  </div>-->
  </div>

  <script>
      $(function(){
  $('.fa-minus').click(function(){    $(this).closest('.chatbox').toggleClass('chatbox-min');
  });
  $('.fa-close').click(function(){
    $(this).closest('.chatbox').hide();
  });
});

  </script>
  </div>
  </body>