* {
  box-sizing: border-box;
  overflow-y: auto;
}

.container-lg,
.row {
  height: 100%;
  position: relative;

}

/*  */
.row {
  background: rgba(255, 255, 255, 0.95);
}

.category-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.join-group {
  width: 80%;
  margin: 15px auto;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 4px 4px 7px black;
}

.join-group:hover {
  transition: 0.3s;
  transform: scale(1.05);
  box-shadow: 7px 7px 14px black;
}

.join-group .headers {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
}

.join-group .headers h3 {
  letter-spacing: 3px;
  text-shadow: 3px 3px 4px black;
  transition: 0.5s;
}

.join-group .arrow {
  color: white;
  font-size: 30px;
}

.text p {
  color: white;
  font-size: 18px;
  letter-spacing: 6px;
  text-shadow: 2px 2px 4px black;
  padding: 5px 10px;
  text-align: center;
}

.join-group:hover .text p {
  transition: 1.2s;
  background: green !important;

}

h3 {
  overflow: hidden;
  color: white;
}

.part {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.part .join-group {
  width: 42%;
}

.make-room:hover .text p {
  background: peru !important;
}

.enter-room:hover .text p {

  background: blueviolet !important;
}

@media screen and (max-width:900px) {
  .category-container {
    width: 100%;
  }

  .part {
    flex-direction: column;
  }

  .part .join-group {
    width: 80%;
  }
}

@media screen and (max-width:600px) {

  .container-lg,
  .row {
    padding: 0px;
  }

  .part {
    width: 100%;
    padding: 20px 0px;
    padding-top: 0px;
    margin: 0px;
  }

  .join-group {

    width: 80%;
  }

  .join-group .text p {
    text-align: center;
    letter-spacing: 0px;
  }

}
