.second-header ul {
    justify-content: space-between;
}

.second-header ul div {
    display:flex;
    justify-content: center;
}

.second-header ul div li{
    color:white;
    padding:3px 20px;
    border:0px !important;
}

.second-header ul div li:hover{
    background:green;
    cursor: pointer;
}
.second-header ul div li:visited{
    border: 1px solid white;
}

@media screen and (max-width:600px){
    .toggle-btn{
       display:block;
    }

    .second-header {
        display:none;
        height:100vh;
        position: fixed;
        z-index:3;
        transition:2s;
    }
    .second-header ul{
        margin-top:50px;
        flex-direction:column;
    }
    .second-header ul div{
        display:block;
    }

    .second-header ul div li{
        padding:6px 10px;
        font-size:20px;
        width:100%;
    }
    .second-header ul div li:focus{
        outline:none;
    }
    .second-header ul div li:hover{
        background:green;
      
    }

}